
@media (max-width:480px){
    .grid-inicio {
            grid-template-areas: 
            "header"
            "novedades"
            "env"
            "desc"
            "form"
            "footer";    
            grid-column-gap: 1px;   
    }    
    .nov {
        width: 80%;
        height: 80%;
        justify-self:center;
        align-self: center;  
        padding: 0px;
        margin-bottom: 30px;
    }
    .envios {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        
        img {
            width: 80%;
            height: 80%;
            padding: 0px;
            margin: 5px;           
        }    
    }
    .descuentos {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            height: 80%;
            padding: 0px;
            margin: 5px;
        }  
    }
    .footer {
        flex-direction: column;
        align-items: center;
        height: fit-content;
        padding-bottom: 20px;
        ul li {
            align-items: center;          
        }    
    }
       
    h3 {
        padding-bottom: 5%;
        padding-top: 5%;
    } 
    
    .form {     
        flex-direction: column;
        align-items: center;  
        height: fit-content; 
        padding: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        h2 {
            padding-bottom: 2%;
            font-size: 22px;
        }
        legend {
            font-size: 24px;
        }
    }   
    
    .header-left{
        flex-direction: column;
        align-items:flex-start;
        img {
            width: 50px;
            height: 50px;        
        }
    }

    h1 {
        display: none;
    }
    
    .grid-productos {
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header "
        "viaje"
        "home"
        "deco"
        "footer";      
        grid-row-gap: 10px;      
    }
    
    .form-contacto {     
        flex-direction: column;
        align-items: center;  
        height: max-content;   
        padding-bottom: 20px;     
    }    

    .label-input-contacto {
        flex-direction: column;
        align-items: center;        
    }
    
    .textarea {
        margin: 10px;
        width: max-content;    
    }
           
    }