
.nov {
    grid-area: novedades;   
    justify-self:end;
    align-self: center;    
}

.video {
    width: 730px;
    height: 730px;
}

.envios {
    grid-area: env;
    justify-self: center;
    align-self: center; 
    img {
        width: 350px;
        height: 350px;
        &:hover{
            transform: scale(.8);
        }
    }   
}

.descuentos {
    grid-area: desc;
    justify-self: center;
    align-self: center; 
    img {
        width: 350px;
        height: 350px;
        &:hover{
            transform: scale(.8);
        }
    }  
}

h3 {
    font-family: "baloo chettan 2";
    font-size: 24px;
    color: rgb(252, 252, 252);  
    padding-bottom: 8px;  
    text-align:start;  
    text-shadow: rgb(202, 201, 202) 0.1em 0.1em 0.2em;
}





