
.nov {
    grid-area: novedades;   
    justify-self:end;
    align-self: center;  
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 750px;
}



.envios {
    grid-area: env;
    justify-self: center;
    align-self: center; 
    img {
        width: auto;
        height: auto;
        padding-top: 50px;
        margin: 2px;
        &:hover{
            transform: scale(.8);
        }
    }   
}

.descuentos {
    grid-area: desc;
    justify-self: center;
    align-self: center; 
    img {
        width: auto;
        height: auto;
        padding-bottom: 50px;
        margin: 2px;
            &:hover{
            transform: scale(.8);
        }
    }  
}




