.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-color: #f8acf340;
    height: 260px;
    padding-top: 24px;
    
    ul {
        margin: 0%;
        padding: 0%;
        li{
            display: flex;
            flex-direction: column;            
            p{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            text-shadow: #dbc1f1;
            text-transform: uppercase;
            font-family: "baloo chettan 2";  
            margin: 2px;  
            }
            i{
                font-size: 18px;
                color: rgb(252, 252, 252);   
                margin-right: 8px;
            }
        }        
    }    
}

.info {
    display: block;
    text-align: center;

}

h3 {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 28px;
    text-shadow: #f38bf3 0.1em 0.1em 0.2em;
    text-transform: uppercase;
    font-family: "baloo chettan 2";  
    margin: 2px;  
    text-align: center;
    padding-bottom: 10px;
}
 #firma {
     text-align: center;
     padding-top: 20px;
     font-family: 'Times New Roman', Times, serif;
     font-size: 18px;
     text-transform: none;
 }