.form {
    grid-area: form;
    background-color: $colorSecundario;
    padding: 24px;    
    display: flex;
    align-items: center;
    height: 220px;
    width: auto;
    margin-bottom: 50px;
    border-radius: 10px;
    
    legend {
            color: #e4d8f5;
            font-size: 34px;
            font-family: "baloo chettan 2";
            text-align: center;
            font-weight: bold;
}
}

label {
    color: #e4d8f5;
    font-family: "baloo chettan 2";
    font-size: 20px;
    padding: 8px;
    font-weight:bold;
}

h2 {
    color:#e4d8f5;
    font-family: "baloo chettan 2";
    font-weight: bolder;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    text-align: center;
}

.label-input {
    display: flex;
}

input {
    color: #d2cfd6;
    border-color: white;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 18px;
       
}    

.botton {
    color: #ffffff;
    background-color: #e4d8f5;
    border-radius: 6px;
    padding: 8px;
    font-size: 18px;
    margin-left: 8px;
}



.enviar {
    padding-left: 4px;
    padding-right: 4px;
}