


.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: $colorPrimario;
    padding: 10px 25px 10px 25px;
    border-radius: 5px;
    margin: 16px;
    img{
        width: 100px;
        height: auto;
    }
}


.nav ul {
    display: flex;
    list-style: none; 
    li{
        margin: 4px; 
        a{
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: 20px;
            text-shadow: rgb(238, 138, 196) 0.1em 0.1em 0.2em;
            text-transform: uppercase;
            font-family: "baloo chettan 2";  
        }
    }
}

.header-left {
    display: flex;
    align-items: center;
}

h1 {
    font-family: "koulen";
    color: pink;  
    margin-left: 25px;  
}
